@font-face {
  src: url(./Gilroy-Regular.woff2) format("woff2"),
       url(./Gilroy-Regular.woff) format("woff");
  font-family: "Gilroy";
}

@font-face {
  src: url(./Gilroy-Medium.woff2) format("woff2"),
       url(./Gilroy-Medium.woff) format("woff");
  font-family: "Gilroy";
  font-weight: 500;
}

@font-face {
  src: url(./Gilroy-Semibold.woff2) format("woff2"),
       url(./Gilroy-Semibold.woff) format("woff");
  font-family: "Gilroy";
  font-weight: 600;
}

@font-face {
  src: url(./Gilroy-Bold.woff2) format("woff2"),
       url(./Gilroy-Bold.woff) format("woff");
  font-family: "Gilroy";
  font-weight: 700;
}

@font-face {
  src: url(./Montserrat-Regular.woff2) format("woff2"),
       url(./Montserrat-Regular.woff) format("woff");
  font-family: "Montserrat";
}
